@import "tailwindcss";

@theme {

  --color-border: rgb(var(--border));
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-card: rgb(var(--card));

  --animate-float : float 6s ease-in-out infinite;  /* Float Animation for hero sections*/
  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite;/* stars in the background*/
  --animate-fade-in: fade-in 0.7s ease-out forwards; 
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards; 
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards; 
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards; 
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
  --animate-meteor: meteor 5s linear infinite;
  --animate-star-drift: star-drift 5s linear infinite;

  @keyframes float {
  0%,          
  100% { transform: translateY(0); } 
  50% { transform: translateY(-10px); } 
  }

  @keyframes fade-in {
    from {
      opacity: 0;   /*  Start invisible */
      transform: translateY(10px); /* start 10px below than normal */
    } 
    to { 
      opacity: 1;        /* fully visible*/
      transform: translateY(0); /* move to its actual position*/
    }
  }

  @keyframes pulse-subtle {
    0%, /*At 0 seconds, the element is fully opaque */
    100% { opacity: 1; } /*At 4 seconds, the element is fully opaque */
    50% { opacity: 0.7; } /*at 2 seconds the elemets is 70% transparent*/
  }

  @keyframes meteor {
    0% { 
      transform: rotate(215deg) translateX(0) scale(0.5); 
      opacity: 0; 
    }
    30% { 
      opacity: 1; 
    }
    70% { 
      opacity: 1; 
    }
    100% { 
      transform: rotate(215deg) translateX(-400px) scaleX(1.2); 
      opacity: 0; 
    }
  }
}
@keyframes star-drift {
  0% { 
    transform: translate(0,0); 
    opacity: 0.5; 
  }
  50% { 
    opacity: 1; 
  }
  100% { 
    transform: translate(var(--move-x), var(--move-y)); 
    opacity: 0.2; 
  }
}

@layer base{
  :root {
    --border:226 232 240;   
    --background: 255 255 252;    
    --foreground:235 239 246;  
    --primary: 111 91 251;      
    --secondary:111 91 251;    
    --card:50 62 78;           
  }
  .dark{
    --border:39 39 42;
    --background: 9 9 11;
    --foreground: 250 250 250;
    --primary: 59 130 246;
    --secondary: 59 130 246;
    --card: 9 9 11;
  }

  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "liga" 1 ,"calt" 1; /* Enable ligatures for better font rendering */
  }

}

@utility fullbox{
  @apply mx-auto px-8;

  @media (max-width:399) {
    @apply max-w-sm;
  }
  @media (min-width:400px) and (max-width: 639px){
    @apply max-w-xl;
  }
  @media (min-width: 640px) and (max-width: 1023px){
    @apply max-w-2xl;
  }
  @media (min-width: 1024px) and (max-width: 1279px){
    @apply max-w-3xl;
  }
  @media (min-width: 1280px){
    @apply max-w-4xl;
  }
 
}

@utility text-glow{
  @apply relative text-shadow-[0_0_10px_rgba(111,91,251,0.7)];
}

@utility card-hover{
  @apply transition-all duration-300 ease-in-out hover:scale-[1.02] hover:shadow-lg;
}

@utility gradient-border{
  position:relative;
  border-radius:10%;
  background: linear-gradient(to right, rgb(var(--card)) , rgb(var(--card)));
  background-clip:padding-box;
  border:1px solid transparent;
} 

@utility btn-primary{
  @apply px-6 py-2 rounded-full bg-primary text-secondary font-semibold transition-all duration-300 ease-in-out hover:shadow-[0_0_10px_rgba(111,91,251,0.7)] hover:scale-130 active:scale-90;
}

@utility star {
  @apply absolute w-1 h-1 bg-white rounded-full shadow-[0_0_3px_2px_rgba(255,255,255,1.5)]; 
}
@utility starfall{
  @apply absolute w-2 h-1 bg-linear-to-r from-white to-transparent rounded-full shadow-[0_0_2px_1px_rgba(255,255,255,1)]
}
@utility meteor {
  @apply absolute w-2 h-40 bg-linear-to-r from-white to-transparent rounded-full shadow-[0_0px_6px_rgba(255,255,255,1)];
}
#root{
  @apply max-w-full m-0 p-0 text-center;
}